@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.tui-pre {
  font-family: "JetBrains Mono", "Fira Mono", "Menlo", monospace;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0;
  white-space: pre;
  tab-size: 4;
  width: 80ch; /* match buffer width */
  min-height: 500px;
  background: #18181a;
  color: #ccc;
  padding: 0;
  margin: 0;
  border:groove;
  border-radius: 0.5rem;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
